<!DOCTYPE html>
<html lang="ja">
 <head>
   <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="assets/stylesheets/food.css">
<body> 
 <div class="first-block"></div> 
 <div class="second-block"></div> 
 <div class="second-block"></div>