<body>
  <header>
   <header class="header-nav">
   <a>
    <nav><a href=".first-block">Home</a></nav>
    <nav><a href=".second-block">About me</a></nav>
    <nav><a href=".third-block">sports</a></nav>
   </header>
  </header>

<!--  コンテンツを一旦仮置きする  -->
  <div class="first-block">
  </div>
  <div class="second-block">
  </div>
  <div class="third-block">
  </div>
<!--  コンテンツはここまで  -->

  <footer> 
     <small>© 2020 geek instagram</small>   
  </footer>
</body>