<!DOCTYPE html>
<html lang="ja">
 <head>
   <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="assets/stylesheets/index.css">
<body>
  <header>
   <header class="header-nav">
    <nav><div class="title">Geek Instagram</div></nav>
    <nav><a href=".first-block">foods</a></nav>
    <nav><a href=".second-block">trips</a></nav>
    <nav><a href=".third-block">sports</a></nav>
   </header>
  </header>
<!--  コンテンツを一旦仮置きする  -->
  <div class="first-block"> 
   <img src="images/mypicture.jpg" width="100" >
  </div>
  <div class="second-block">
  </div>
  <div class="third-block">
  </div>
<!--  コンテンツはここまで  -->

  <footer> 
     <small>© 2020 geek instagram</small>   
  </footer>
</body>