<!DOCTYPE html>
<html lang="ja">
 <head>
   <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="assets/stylesheets/index.css">
<body>
  <header>
   <header class="header-nav">
    <nav><div class="title">Geek Instagram</div></nav>
    <nav><a href="food.html.erb">foods</a></nav>
    <nav><a href="trips.html.erb">trips</a></nav>
    <nav><a href="sports.html.erb">sports</a></nav>
   </header>
  </header>
<!--  コンテンツを一旦仮置きする  -->
  <div class="first-block"> 
   <div class="image-box"></div>
   <div class="character">Profile</div>
   <div class="picture">
     名前  ☛ 岡田大輝
     <br>
     <br>
     大学  ☛ 大分大学経済学部
     <br>
     <br>
     好きなこと ☛  旅行!!スポーツ!!食べること!!
     <br> 
   </div>
  </div>
  <div class="second-block">
    <div class="f-container">
  <div class="f-item1">ラーメンが大大大好きで、多いときは
                      <br>                  
                      週3食べに行ってます!お寿司や焼き肉
                      <br>
                      も好きで、みんなが好きそうな食べ物
                      <br>
                      は自分も好きです!!
  </div>
  <div class="f-item2"> 旅行するのが好きで、大学に入ってか
                       <br>
                       ら九州制覇した!!最近は京都に行った
                       <br>
                       りと、旅行に行くためにお金を貯めて
                       <br>
                       生活しています!!
                      
  </div>
  <div class="f-item3"> 中学校はバスケ部に所属していて高校
                        <br>
                        大学とバレー部に所属してまーす!!大
                        <br>
                        学では野球サークルにも入っていて、
                        <br>
                        たくさん動いています!!
  
  </div>
    </div>
  </div>
  <div class="third-block">
   <div class="photo">色々なところに行って、たくさんの経験をして、楽しい充実した生活を送ってます!!<>
  </div>
<!--  コンテンツはここまで  -->

  <footer> 
     <small>© 2020 geek instagram</small>   
  </footer>
</body>