<!DOCTYPE html>
<html lang="ja">
 <head>
   <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="assets/stylesheets/index.css">
<body>
  <header>
   <header class="header-nav">
    <nav><div class="title">Geek Instagram</div></nav>
    <nav><a href="food.html.erb">foods</a></nav>
    <nav><a href="trips.html.erb">trips</a></nav>
    <nav><a href="sports.html.erb">sports</a></nav>
   </header>
  </header>
<!--  コンテンツを一旦仮置きする  -->
  <div class="first-block"> 
   <div class="image-box"></div>
   <div class="character">Profile</div>
   <div class="picture">
     名前  → 岡田大輝
     <br>
     <br>
     大学   大分大学経済学部
     <br>
     <br>
     好きなこと   旅行!! スポーツ!! 食べること!!
     <br> 
   </div>
  </div>
  <div class="second-block">
  </div>
  <div class="third-block">
  </div>
<!--  コンテンツはここまで  -->

  <footer> 
     <small>© 2020 geek instagram</small>   
  </footer>
</body>