<body>
  <header>
  </header>

<!--  コンテンツを一旦仮置きする  -->
  <div class="first-block">
  </div>
  <div class="second-block">
  </div>
  <div class="third-block">
  </div>
<!--  コンテンツはここまで  -->

  <footer>    
  </footer>
</body>